<div class="left text_center first_chart">
  <canvas id="cvs" width="260" height="300">[No canvas support]</canvas>
  <h2>Текущая мощность</h2>
</div>
<div class="right text_center second_chart">
  <canvas id="cvs2" width="260" height="300">[No canvas support]</canvas>
  <h2>Текущий ветер </h2>
</div>