<div class="left">
  <%= gmaps(:markers => {:data => @gmap_json},
            :map_options => { :raw => '{ disableDefaultUI: true, scrollwheel: false }' },
            "map_options" => {:language => 'ru', :hl => 'ru', :region => 'ru'}
      ) %>
</div>

<div class="right map_container map_description">
    <div class="map_description_content">
      Description
    </div>
</div>

<div class="clear"></div>
<%= yield :scripts %>

