<div class="left">
  <%= gmaps(:markers => {:data => @gmap_json},
            :map_options => {:raw => '{ disableDefaultUI: true, scrollwheel: false }'},
            "map_options" => {:language => 'ru', :hl => 'ru', :region => 'ru'}
      ) %>
</div>

<div class="right map_container map_description">
  <div class="map_description_content" id="region_desc">
    <%= render "home/parts/region_description" %>
  </div>
</div>

<div class="clear"></div>

<div class="map_container project_desc">
  <div class="project_desc_cont">

    <h2>О проекте</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus mauris in neque egestas eget euismod tortor
      adipiscing. Curabitur mollis turpis ut diam bibendum ut fermentum diam luctus. Maecenas luctus quam vel risus
      pulvinar
      vel malesuada risus feugiat. Etiam interdum nisl sed dolor gravida euismod. Suspendisse ut nisi turpis. Maecenas
      sit
      amet libero vel arcu eleifend fringilla. Suspendisse potenti. Sed sit amet nulla tellus. Mauris dui quam, gravida
      sit
      amet semper vitae, consectetur eu lorem. Nulla convallis mollis tincidunt.
    </p>

  </div>
</div>
<div class="clear"></div>
<%= subscribe_to  "#{index_chanel(@region)}" %>
<%= yield :scripts %>

