@import "variables_and_mixins.css.scss";

.map_container {
  @include borders_mixin;
  width: $gmap_width;
  .gmaps4rails_map {
    width: $gmap_width;
    height: $gmap_height;
    .bing_map {
      position: absolute;
      top: 20;
      left: 10;
      width: 400px;
      height: $gmap_height;
      border:#555555 2px solid;
    }
  }
}

.gmaps_info{
  .desc_cont{
    h4{
      margin: 0 0 2px 0;
      font-size: 14px;
    }
    font-size: 11px;
  }

  .img_cont{
    width: 60px;
    text-align: center;
    img{
      margin-top: 3px;;
    }
  }
}



